.description-landing {
  .display-section;
  .display-background('http://2017.igem.org/wiki/images/b/b4/T--Lund--Description.jpg', 30%);
  height: 24rem;
}

.description {
  img {
    max-width: 360px;
  }

  .ocean-container {
    position: relative;
  }
  .ocean-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    .ocean-row {
      height: 100%;
    }
    .ocean-col {
      height: 100%;
    }
  }
  .ocean {
    position: relative;
    height: 100%;
    background: linear-gradient(
    to bottom,
    #047CC0,
    #175D8D
    );
  }
}