#home-bg {
	background: #fc6c58;
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;

	#home-top-wrapper {
		margin-left: auto;
		margin-right: auto;
	}

	.home-textbox {
		color: white;
		width: 600px;
		display: inline-block;
		vertical-align: middle;

	}
	.home-side-image {
		display: inline-block;
		width: 500px;
		height: 500px; 
		vertical-align: middle;
	}

	.home-top-item {
		position: relative;
	}

	#home-bottom-container {
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
	}
	.home-bottom-item {
		width: 350px;
		color: white;
	}
	.home-bottom-image {
		width: 350px;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.home-bottom-title {
		text-align: center;
	}
	#home-image-scalingup {
		width: 300px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#home-image-modeling {
		width: 330px;
		margin-top: 15px;
	}
	#home-image-practices {
		width: 300px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.home-bottom-text {
		text-align: center;
	}

	@media only screen and (max-width : 1000px) {
		#home-bottom-container {
			display: block !important;
		}
		.home-bottom-item {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px; 
		}
	}

	@media only screen and (min-width : 1120px) {
		#home-top-wrapper {
			width: 1120px;
		}

		.home-right-image {
			float: right;
		}

		.home-top-item {
			height: 500px;
		}

		.home-left-text {
			text-align: right;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding-right: 20px;
		}
		.home-right-text {
			padding-left: 20px;
		}
	}
	
	@media only screen and (max-width : 1120px) {
		.home-textbox {
			width: calc(100vw - 40px);
			display: block;
			margin-left: 15px !important;
			margin-right: 15px !important;
		}

		.home-top-item {
			margin-bottom: 100px;
		}

		.home-side-image {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

}