#pe-conferenceicon {
	-webkit-mask: url(http://2018.igem.org/wiki/images/0/02/T--Lund--niclanding.png) no-repeat center;
	mask: url(http://2018.igem.org/wiki/images/0/02/T--Lund--niclanding.png) no-repeat center;
	margin-bottom: 10px;
}
#pe-handbookicon {
	-webkit-mask: url(http://2018.igem.org/wiki/images/c/ce/T--Lund--handbook.png) no-repeat center;
	mask: url(http://2018.igem.org/wiki/images/c/ce/T--Lund--handbook.png) no-repeat center;
}
#pe-outreachicon {
	-webkit-mask: url(http://2018.igem.org/wiki/images/8/88/T--Lund--outreach.png) no-repeat center;
	mask: url(http://2018.igem.org/wiki/images/8/88/T--Lund--outreach.png) no-repeat center;
}

#pe-circle2 {
	padding: 7% !important;
	padding-top: 4% !important;
	left: 370px;
	top: 190px;
}