.team-members {
  padding-top: 100px;
  color: white;
  background: linear-gradient(to bottom right, #FC6C58, #ad3f31);

  .member {
    margin: 4rem 0;

    h3 {
      margin-top: 0;
    }

    h6 {
      font-family: inherit;
      opacity: 0.6;
    }

    @media (max-width: @screen-sm-max) {
      text-align: center;
    }
  }
}