<html>
<article class="sponsors">
  <div class="container">
    <section class="row sponsors-large">
      <article class="col-sm-4">
        <a href="http://lmkstiftelsen.se/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/0/0a/T--Lund--LMK.png" alt="LMK">
        </a>
      </article>
      <article class="col-sm-4">
        <a href="http://www.lth.se/english" target="_blank">
          <img src="http://2017.igem.org/wiki/images/6/64/T--Lund--LundUniversity.png" alt="Lund University">
        </a>
      </article>
      <article class="col-sm-4">
        <a href="http://www.sparbanksstiftelsenfof.se/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/a/ae/T--Lund--Sparbanksstiftelsen.png" alt="Sparbanksstiftelsen">
        </a>
      </article>
    </section>
    <section class="row sponsors-small">
      <article class="col-sm-3 col-sm-offset-3">
        <a href="http://cenova.se/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/9/9d/T--Lund--Cenova.png" alt="Cenova">
        </a>
      </article>
      <article class="col-sm-3">
        <a href="http://www.linclandskrona.se/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/6/67/T--Lund--LINC.png" alt="LINC">
        </a>
      </article>
    </section>
    <section class="row sponsors-small">
      <article class="col-sm-3">
        <a href="https://www.neb.com/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/6/6b/T--Lund--NewEngland.png" alt="New England Bio Labs">
        </a>
      </article>
      <article class="col-sm-3">
        <a href="https://www.eurofinsgenomics.eu/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/f/fc/T--Lund--Eurofins.png" alt="Eurofins">
        </a>
      </article>
      <article class="col-sm-3">
        <a href="http://www.agilent.com/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/4/49/T--Lund--Aglient.png" alt="Aglient">
        </a>
      </article>
      <article class="col-sm-3">
        <a href="https://eu.idtdna.com/site" target="_blank">
          <img src="http://2017.igem.org/wiki/images/1/19/T--Lund--IDT.png" alt="IDT">
        </a>
      </article>
    </section>
  </div>
</article>

<footer class="footer">

  <section class="site-map container">
    <div class="row">

      <div class="col-sm-3">
        <h5>Home</h5>
        <ul>
          <li><a href="/Team:Lund">Home</a></li>
        </ul>

        <h5>Team</h5>
        <ul>
          <li><a href="/Team:Lund/Team">Team</a></li>
          <li><a href="/Team:Lund/Collaborations">Collaborations</a></li>
          <li><a href="/Team:Lund/Attributions">Attributions</a></li>
        </ul>

      </div>

      <div class="col-sm-3">
        <h5>Project</h5>
        <ul>
          <li><a href="/Team:Lund/Description">Description</a></li>
          <li><a href="/Team:Lund/Design">Design</a></li>
          <li><a href="/Team:Lund/Results">Results</a></li>
          <li><a href="/Team:Lund/InterLab">InterLab</a></li>
          <li><a href="/Team:Lund/Parts">Parts</a></li>
          <li><a href="/Team:Lund/Experiments">Protocol</a></li>
          <li><a href="/Team:Lund/Notebook">Notebook</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Model</h5>
        <ul>
          <li><a href="/Team:Lund/Model">Results</a></li>
          <li><a href="/Team:Lund/Modeling/ModelDerivation">Model derivation</a></li>
          <li><a href="/Team:Lund/Modeling/ParameterEstimation">Parameter estimation</a></li>
          <li><a href="/Team:Lund/Modeling/Implementation">Implementation</a></li>
        </ul>

        <h5>Safety</h5>
        <ul>
          <li><a href="/Team:Lund/Safety">Safety</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Practices</h5>
        <ul>
          <li><a href="/Team:Lund/HP/Silver">Overview</a>
          <li><a href="/Team:Lund/HP/Gold_Integrated">Integrated</a>
          <li><a href="/Team:Lund/Engagement">Engagement</a>
          <li><a href="/Team:Lund/HP/Media">Media</a>
          <li><a href="/Team:Lund/Communication">Communication</a>
        </ul>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">

      <div class="contact col-sm-3">
        <h4>Contact</h4>
        Sölvegatan 22 A<br>
        223 62 Lund<br>
        Sweden<br>
        <a href="mailto:igemlund@gmail.com">igemlund@gmail.com</a>
      </div>

      <div class="social-media col-sm-3 col-sm-offset-3">
        <h4>Stay connected</h4>
        <ul>
          <li>
            <a href="https://www.facebook.com/igemlund" target="_blank">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/igem_lund" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram
            </a>
          </li>
          <li>
            <a href="https://twitter.com/iGEM_Lund" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              Twitter
            </a>
          </li>
        </ul>
      </div>

    </div>
  </section>

  <section class="copyright container">
    &copy;2017 iGEM Lund
  </section>

</footer>
</html>
