<html>

<div class="sponsors">
    <img src="http://2018.igem.org/wiki/images/7/76/T--Lund--sponsor_gant.png" alt="Gant Logo"
    style="height: 20px; width: auto">
    <img src="http://2018.igem.org/wiki/images/7/7c/T--Lund--sponsor_lmk.png" alt="LMK Logo"
    style="height: 100px; width: auto">
    <img src="http://2018.igem.org/wiki/images/8/8a/T--Lund--sponsor_lund.png" alt="Lund Logo"
    style="height: 125px; width: auto">
    <img src="http://2018.igem.org/wiki/images/1/14/T--Lund--sponsor_kunskap_partner.png" alt="Kunskappsartner Logo"
    style="height: 50px; width: auto">
  </div>

<footer class="footer">

  <section class="site-map container">
    <div class="row">

      <div class="col-sm-3">
        <h5>Home</h5>
        <ul>
          <li><a href="/Team:Lund">Home</a></li>
        </ul>

        <h5>Team</h5>
        <ul>
          <li><a href="/Team:Lund/Team">Team</a></li>
          <li><a href="/Team:Lund/Collaborations">Collaborations</a></li>
          <li><a href="/Team:Lund/Attributions">Attributions</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Project</h5>
        <ul>
          <li><a href="/Team:Lund/Description">Description</a></li>
          <li><a href="/Team:Lund/Design">Design</a></li>
          <li><a href="/Team:Lund/Results">Results</a></li>
          <li><a href="/Team:Lund/InterLab">InterLab</a></li>
          <li><a href="/Team:Lund/Parts">Parts</a></li>
          <li><a href="/Team:Lund/Experiments">Protocol</a></li>
          <li><a href="/Team:Lund/Safety">Safety</a></li>
          <li><a href="/Team:Lund/Notebook">Notebook</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Model</h5>
        <ul>
          <li><a href="/Team:Lund/Model">Landing page</a></li>
          <li><a href="/Team:Lund/Model/Hemoglobin">Hemoglobin</a></li>
          <li><a href="/Team:Lund/Model/GrowthCurves">Growth curves</a></li>
          <li><a href="/Team:Lund/Model/FlowCytometer">Flow cytomter</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Practices</h5>
        <ul>
          <!-- <li><a href="/Team:Lund/HP/Silver">Overview</a>
          <li><a href="/Team:Lund/HP/Gold_Integrated">Integrated</a>
          <li><a href="/Team:Lund/Engagement">Engagement</a>
          <li><a href="/Team:Lund/HP/Media">Media</a>
          <li><a href="/Team:Lund/Communication">Communication</a> -->
        </ul>
      </div>

    </div>
  </section>

  <section class="container">
    <div class="row">

      <div class="contact col-sm-3">
        <h4>Contact</h4>
        <a>Sölvegatan 22 A</a><br>
        <a>223 62 Lund</a><br>
        <a> Sweden</a><br>
        <a href="mailto:igemlund@gmail.com">igemlund@gmail.com</a>
      </div>

      <div class="social-media col-sm-3 col-sm-offset-3">
        <h4>Stay connected</h4>
        <ul>
          <li>
            <a href="https://www.facebook.com/igemlund" target="_blank">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/igem_lund" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram
            </a>
          </li>
          <li>
            <a href="https://twitter.com/iGEM_Lund" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              Twitter
            </a>
          </li>
        </ul>
      </div>

    </div>
  </section>

  <section class="copyright container">
    &copy;2018 iGEM Lund
  </section>

</footer>
</html>
